# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/AdventOfCode/FileContentIndex/184df09e-0c0a-4446-819d-1f234fef5ff4.vsidx
/.vs/AdventOfCode/FileContentIndex
/.vs/AdventOfCode/v17/ipch/AutoPCH/4c6a876a0041b17e
/Task01/Debug
/Task01/x64/Debug/Task01.tlog
/Task01/x64/Debug
